/*
!/src/
!.gitignore
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE.txt
!README.md

src/generated/resources/\.cache/
minecraftSources/